<a href="https://colab.research.google.com/github/ShashankBajpai/ShashanksBizzareAdventures/blob/master/Analytics_vidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
!git clone https://github.com/ShashankBajpai/ShashanksBizzareAdventures

fatal: destination path 'ShashanksBizzareAdventures' already exists and is not an empty directory.

In [30]:
import pandas as pd
import numpy as np
data = pd.read_csv("/content/ShashanksBizzareAdventures/train.csv")
data

        User_ID Product_ID  ... Product_Category_3 Purchase
0       1000001  P00069042  ...                NaN     8370
1       1000001  P00248942  ...               14.0    15200
2       1000001  P00087842  ...                NaN     1422
3       1000001  P00085442  ...                NaN     1057
4       1000002  P00285442  ...                NaN     7969
...         ...        ...  ...                ...      ...
550063  1006033  P00372445  ...                NaN      368
550064  1006035  P00375436  ...                NaN      371
550065  1006036  P00375436  ...                NaN      137
550066  1006038  P00375436  ...                NaN      365
550067  1006039  P00371644  ...                NaN      490

[550068 rows x 12 columns]

In [31]:
data["Product_Category_2"].isna().count()

550068

In [32]:
data["Product_Category_3"].isna().count()

550068

In [33]:
data["Age"].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [34]:
data["Product_Category_2"].unique()

array([nan,  6., 14.,  2.,  8., 15., 16., 11.,  5.,  3.,  4., 12.,  9.,
       10., 17., 13.,  7., 18.])

In [0]:
data.loc[data["Gender"] == 'M',"Gender"] = 0
data.loc[data["Gender"] == 'F',"Gender"] = 1
data.loc[data["Age"] == '0-17',"Age"] = 1
data.loc[data["Age"] == '18-25',"Age"] = 2
data.loc[data["Age"] == '26-35',"Age"] = 3
data.loc[data["Age"] == '36-45',"Age"] = 4
data.loc[data["Age"] == '46-50',"Age"] = 5
data.loc[data["Age"] == '51-55',"Age"] = 6
data.loc[data["Age"] == '55+',"Age"] = 7
data.loc[data["City_Category"] == 'A',"City_Category"] = 1
data.loc[data["City_Category"] == 'B',"City_Category"] = 2
data.loc[data["City_Category"] == 'C',"City_Category"] = 3
data.loc[data["Stay_In_Current_City_Years"] == '0',"Stay_In_Current_City_Years"] = 1
data.loc[data["Stay_In_Current_City_Years"] == '1',"Stay_In_Current_City_Years"] = 2
data.loc[data["Stay_In_Current_City_Years"] == '2',"Stay_In_Current_City_Years"] = 3
data.loc[data["Stay_In_Current_City_Years"] == '3',"Stay_In_Current_City_Years"] = 4
data.loc[data["Stay_In_Current_City_Years"] == '4+',"Stay_In_Current_City_Years"] = 5
data["Product_Category_2"] = data["Product_Category_2"].replace(np.nan,99)
data["Product_Category_3"] = data["Product_Category_3"].replace(np.nan,99)

In [36]:
data

        User_ID Product_ID  ... Product_Category_3 Purchase
0       1000001  P00069042  ...               99.0     8370
1       1000001  P00248942  ...               14.0    15200
2       1000001  P00087842  ...               99.0     1422
3       1000001  P00085442  ...               99.0     1057
4       1000002  P00285442  ...               99.0     7969
...         ...        ...  ...                ...      ...
550063  1006033  P00372445  ...               99.0      368
550064  1006035  P00375436  ...               99.0      371
550065  1006036  P00375436  ...               99.0      137
550066  1006038  P00375436  ...               99.0      365
550067  1006039  P00371644  ...               99.0      490

[550068 rows x 12 columns]

In [0]:
from sklearn.tree import DecisionTreeRegressor
x = data["Purchase"]
del data["Purchase"]
del data["Product_ID"]
model = DecisionTreeRegressor().fit(data,x)

In [38]:
data2 = pd.read_csv("/content/ShashanksBizzareAdventures/test.csv")
data2

        User_ID Product_ID  ... Product_Category_2 Product_Category_3
0       1000004  P00128942  ...               11.0                NaN
1       1000009  P00113442  ...                5.0                NaN
2       1000010  P00288442  ...               14.0                NaN
3       1000010  P00145342  ...                9.0                NaN
4       1000011  P00053842  ...                5.0               12.0
...         ...        ...  ...                ...                ...
233594  1006036  P00118942  ...                NaN                NaN
233595  1006036  P00254642  ...                8.0                NaN
233596  1006036  P00031842  ...                5.0               12.0
233597  1006037  P00124742  ...               16.0                NaN
233598  1006039  P00316642  ...                5.0                NaN

[233599 rows x 11 columns]

In [0]:
data2.loc[data2["Gender"] == 'M',"Gender"] = 0
data2.loc[data2["Gender"] == 'F',"Gender"] = 1
data2.loc[data2["Age"] == '0-17',"Age"] = 1
data2.loc[data2["Age"] == '18-25',"Age"] = 2
data2.loc[data2["Age"] == '26-35',"Age"] = 3
data2.loc[data2["Age"] == '36-45',"Age"] = 4
data2.loc[data2["Age"] == '46-50',"Age"] = 5
data2.loc[data2["Age"] == '51-55',"Age"] = 6
data2.loc[data2["Age"] == '55+',"Age"] = 7
data2.loc[data2["City_Category"] == 'A',"City_Category"] = 1
data2.loc[data2["City_Category"] == 'B',"City_Category"] = 2
data2.loc[data2["City_Category"] == 'C',"City_Category"] = 3
data2.loc[data2["Stay_In_Current_City_Years"] == '0',"Stay_In_Current_City_Years"] = 1
data2.loc[data2["Stay_In_Current_City_Years"] == '1',"Stay_In_Current_City_Years"] = 2
data2.loc[data2["Stay_In_Current_City_Years"] == '2',"Stay_In_Current_City_Years"] = 3
data2.loc[data2["Stay_In_Current_City_Years"] == '3',"Stay_In_Current_City_Years"] = 4
data2.loc[data2["Stay_In_Current_City_Years"] == '4+',"Stay_In_Current_City_Years"] = 5
data2["Product_Category_2"] = data2["Product_Category_2"].replace(np.nan,99)
data2["Product_Category_3"] = data2["Product_Category_3"].replace(np.nan,99)

In [0]:
del data2["Product_ID"]
results = model.predict(data2)

In [48]:
temp = pd.read_csv("/content/ShashanksBizzareAdventures/test.csv")
data3 = temp[["User_ID","Product_ID"]]
data3["Purchase"] = np.round(results)
data3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        User_ID Product_ID  Purchase
0       1000004  P00128942   15853.0
1       1000009  P00113442   10833.0
2       1000010  P00288442    8357.0
3       1000010  P00145342    3436.0
4       1000011  P00053842    2847.0
...         ...        ...       ...
233594  1006036  P00118942    6825.0
233595  1006036  P00254642    5875.0
233596  1006036  P00031842    3897.0
233597  1006037  P00124742   23714.0
233598  1006039  P00316642    2055.0

[233599 rows x 3 columns]

In [0]:
data3.to_csv("final.csv")